* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(2, 2, 36);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  cursor: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: wheat;
}

.pointer {
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 20px red, 0 0 40px red, 0 0 60px red;
  animation: colors 5s infinite;
  position: fixed;
  /* transition: 0.2s ease-in-out; */
}

@keyframes colors {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.pointer::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  background: white;
  opacity: 0.1;
  transform: translate(-30%, -30%);
  border-radius: 50%;
}

button {
  cursor: pointer;
}
